<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","className":"igi-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group igi-main">
	<!-- wp:pattern {"slug":"igi/page-header"} /-->

	<!-- wp:group {"className":"igi-section","align":"full","layout":{"type":"constrained","contentSize":"760px"}} -->
	<div class="wp-block-group alignfull igi-section">
		<!-- wp:post-content {"layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:pattern {"slug":"igi/cta-band"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
